h3, h5
{
	text-decoration: underline;
}

#welcome 
{
	font-size: 15px;
}

.text
{
	margin-top: 50px;
}

.btn
{
	margin-left: 15px;
}

#cv
{
	margin-left: 10px;
}

.contenu
{
	margin-top: 25px;
}

#veille2
{
	margin-bottom: 10px;
}


